<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="om.kecson.sample">

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.kecson.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="com.kecson.sample.MyTileService"
                 android:label="@string/app_name"
                 android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                 android:icon="@drawable/ic_quick_setting">
            <intent-filter>
                <action
                        android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <!--需要在非点击情况下改变Tile的状态，可以将Tile的Mode改为主动模式-->
            <meta-data
                    android:name="android.service.quicksettings.ACTIVE_TILE"
                    android:value="true"/>
        </service>
    </application>

</manifest>